html, body {
  box-sizing: border-box;
  font-size: 1rem;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 3rem 0;
}

.controls > div {
  border-radius: .5rem;
  box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.4);
  margin: 1rem;
  padding: 2rem;
}

.controls > div:active,
.controls > div:focus,
.controls > div:hover {
  cursor: pointer;
}

.controls > div.off:active {
  /* background-color: #d60000; */
  box-shadow: inset 2px -2px 14px 7px rgba(0, 0, 0, 0.4);
}

.controls > div.on:active {
}

.off {
  background-color: #f00;
}

.on {
  background-color: #0f0;
}

